* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

p {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
}

.stopwatch-buttons {
  display: flex;
  gap: 0.75rem;
}
